#main-container {
    width: 90%;
    margin: auto;
}

body {
    background: #333;
    color: white;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}
a{
    text-decoration: none;
}

nav a{
    color: rgb(90, 255, 75)
    
}

nav li:hover{
    background: rgb(96, 255, 96);
    color: rgb(175, 2, 109);
    
}

nav li:hover a{
    color: rgb(175, 2, 109);
}
nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0 17px;
    
}


header {
    overflow: auto;
    position: relative;
    margin-bottom: 100px;
}
header h1{
    color: rgb(90, 255, 75);
    margin-bottom: 80px;
}

#contact-table {
    margin: auto;
}
#contact-table h1,#contact-table h3{
    margin: auto;
    text-align: center;
    border-bottom: solid #FFF 2px;
    width: 40%;
    margin-bottom: 30px;
}


#header-text{
    border-bottom: solid white 3px; 
    padding-bottom: 40px;
    float: left;
    font-size: 34px;
    position: absolute;
    right: 10%;
    
}


#header-image{
    float: left;
}

#header-image img{
    border-radius: 50%;
    height: 300px;
    width: 350px;
}


#hobbies, #work-experience, #top-skills {
    
    padding-bottom: 30px;
    border-bottom: solid #FFF 3px;
}
#main-body{
    margin: auto;
    width: 80;
    
}

footer p {
    text-align: center;
    border-top: solid #FFF 2px ;
    border-bottom: solid #FFF 2px ;
    padding: 20px 0 ;


}
footer div {
    border-top: solid #FFF 3px;
    padding-top: 20px;
    margin: auto;
    margin-top: 80px;
    width: 120px;
}

footer img{
    width: 15px;
    height: 15px;
}


.main-container-blog {
    width: 80%;
    margin: auto;
}

.main-container-blog section{
    padding: 20px;
    margin-top: 30px;
}

.main-container-blog article
{
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}

.publish-date
{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

#ul-1 li::first-line{
    font-weight: bold;
}