*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#main-container {
    width: 90%;
    margin: auto;
}

body {
    background: #333;
    color: white;
    font-size: 20px;
    line-height: 28px;
}
a{
    text-decoration: none;
}

#nav-bar{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}

#header-image{
    grid-column: 1 / 2;
}

#header-text{
    grid-column: 2 / 3;
}

#header-text h1{
    margin: 30px;
}

nav a{
    color: rgb(90, 255, 75)    
}

nav li:hover{
    background: rgb(96, 255, 96);    
}

nav li:hover a{
    color: rgb(0, 0, 0);
}
nav ul li{
    
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}


header {
    margin-bottom: 100px;
}
header h1{
    color: rgb(90, 255, 75);
    /* margin-bottom: 80px; */
}

#contact-table {
    margin: auto;
}
#contact-table h1,#contact-table h3{
    margin: auto;
    text-align: center;
    border-bottom: solid #FFF 2px;
    width: 40%;
    margin-bottom: 30px;
}


#header-text{
    border-bottom: solid white 3px; 
    /* padding-bottom: 40px; */
    font-size: 25px;
}



#header-image img{
    border-radius: 50%;
    height: 200px;
    width: 250px;
}


#hobbies, #work-experience, #top-skills {
    
    padding-bottom: 30px;
    border-bottom: solid #FFF 3px;
}
#main-body{
    margin: auto;
    width: 80;
    
}

.main-container-blog {
    width: 80%;
    margin: auto;
}

.main-container-blog section{
    padding: 20px;
    margin-top: 30px;
}

.main-container-blog article
{
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}

.publish-date
{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

#ul-1 li::first-line{
    font-weight: bold;
}


footer {
    padding: 2em 2em;
    background-color: black;
    font-family: sans-serif;
    width: 100%;
}

footer li,p{
    list-style: none;
    font-size: 16px;
    color: grey;
    min-width: 30px;
}

footer .column-one h5{
    margin-bottom: 2em;
}

footer .first{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2em;
}

@media only screen and (max-width: 860px){
    footer .first{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .first .column-one{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border:none;
    }

    .first .column-two{
        margin-top: 1em;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}


@media only screen and (max-width: 477px){
    footer .first{
        height: 850px;
    }
    footer .first .column-one{
        display: flex;
        flex-direction: column;
    }

    footer .first .column-two{
        display: flex;
        flex-direction: column;
        height: 250px;
    }
    
    footer .second{
        display: flex;
        flex-direction: column;
    }

    footer .second .r2-col2{
        
    }
}

footer .column-one{
    display: grid;
    column-gap: 1em;
    grid-column: 1 / 2;
    grid-template-columns: repeat(4, 1fr);
    border-right: dotted 1px grey;
    padding-right: 1em;
}

.column-one .col-1{
    grid-column: 1 / 2;
}

.column-one .col-2{
    grid-column: 2 / 3;
}

.column-one .col-3{
    grid-column: 3 / 4;
}

.column-one .col-4{
    grid-column: 4 / 5;
}

footer .column-two{
    display: grid;
    grid-column: 2 / 3;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
}
.column-two img{
    max-width: 150px;
    max-height: 30px;
    padding-left: 2em;
}

.column-two h5{
    margin-bottom: 1em;
}

.column-two input{
    margin: 1em 0;
}

.column-two .col2-1{
    grid-column: 1 / 2;
}

.column-two .col2-2{
    grid-column: 2 / 3;
}

footer .second{
    display: flex;
}


.r2-col2{
    margin-left: auto;
}