 /* p {
    padding: 0;
    margin: 0;
} */

nav > ul > li > a {
    text-decoration: none;
    
}

/* Has to be in the following order*/

nav ul li :link{
    color: rgb(204, 0, 255);
}

nav ul li :visited{
    color: rgb(255, 1, 1);
}


nav ul li :hover{
    background-color: rgb(69, 251, 53);
}

nav ul li :active{
    color: rgb(191, 0, 216);
}




/*
nav ul li a :hover{
    background-color: rgb(69, 251, 53);
}
 a - wont work, you have to make it a block element
*/

nav ul li {
    display: inline;
    margin: 10px;
    font-size: 24px;
}
body {
    background-color: skyblue;
    color: red;
    /* border:solid rgb(14, 18, 246) 5px; */
    padding: 10px;
    margin: 15px;
}

header {
    
    background-color: rgba(243, 190, 17, 0.4);

    /* position: relative;
    top: 20px;
    right: 30px; */

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

div {
    margin-top: 70px;
}

/*Targetting our blog*/
section 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: dotted;
    margin-top: 10px;
    padding: 10px;
    
}

article
{
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.date
{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}